@import url(http://fonts.googleapis.com/css?family=Montserrat);


body {
  font-family: 'Montserrat';
  background-color: #f0f0f0;
}

option {
  font-family: 'Montserrat'; 
}

#gameboard {
  background-color: black;
  height: 450px;
  width: 450px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

#gamecontrols {
  display: flex;
  align-items: center;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

#gamecontrols button{
  width: 100px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  float: right;
  font-family: 'Montserrat';

}

#gamecontrols select {
  margin-right: 30px;
  margin-left: 20px;
  float: left;
  font-family: 'Montserrat';
}

#gamecontrols p {
  display: inline;
  float: left;
}

#gamestatus {
  text-align: center;
  visibility: hidden;
}

#refresh  {
  margin-left: 30px;
}

.col {
  flex: 1;
  border: 1px solid black;
  transition: background-color .25s ease-in-out;
}

.col:hover {
  transition: background-color .25s ease-in-out;
  background-color: #d0d0d0;
}

.row {
  background-color: white;
  width:100%;
  display: flex;
  flex:1;
}

.o, .o:hover{
  background-color: red;
}

.x, .x:hover {
  background-color: #303030;
}

.winner {
  box-shadow: inset 0 0 3em gold;
  transition: all .25s ease-in-out;
}

